<!DOCTYPE html>
<html>

<head>
<style>

.ProjectInfo{
body{background-color: powderblue;}
h1{color: blue;}
p{color: red;}
}

.SMainHeader{
	margin: auto;
	float: center;
	min-width: 1000px;
	max-width: 1000px;
	border: 15px solid #abc;
	background-color: #f1f1f1;
	text-align: center;
}

.SMainBody{
	margin: auto;
	float: center;
	width: 1000px;
	min-width: 1000px;
	max-width: 90%;
	min-height: 1000px;
	border: 15px solid #abc;
	background-color: #f1f1f1;
	text-align: center;
}

.SMainContent{
	margin: auto;
	float: center;
	width: 960px;
	max-width: 90%;
	height: 540;
	border: 15px solid #abc;
	background-color: #f1f1f1;
	text-align: center;
}

/* Change background color of buttons on hover */
.SMainContent Button:hover {
  background-color: #ddd;
}
.ContentStuff{
	float: left;
}
.leftbutton {
	float: left;
}
.rightbutton{
	float: right;
}

/* Create an active/current tablink class */
.SMainContent Button.active {
  background-color: #ccc;
}




/* Style the tab */
.SMainTab {
float: left;
margin: left;
width: 25%;
max-width: 250px;
border: 15px solid #abc;
background-color: #f1f1f1;
text-align: center;
display: block;
}

/* Style the buttons that are used to open the tab content */
.SMainTab Button {
width: 100%;
height: 75px;
padding: 10px;
  background-color: inherit;
  border: solid;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
 float: center;
 margin: center;
}

/* Change background color of buttons on hover */
.SMainTab Button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.SMainTab Button.active {
  background-color: #ccc;
}

/* Style the tab content */
.STabStyle {
  margin: right;
  float: right;
  border: 5%;
  width: 75%;
  text-align: center;
  
}
/* buttons */
.SMainProjects{
	float: left;
	margin: left;
	width: 785px;
	border: 5px solid #abc;
	background-color: #f1f1f1;
	text-align: center;
	display: block;
}

.SMainProjects Button {
width: 98.125px;
height: 75px;
  background-color: inherit;
  border: solid;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
 float: left;
 margin: center;
}

.SMainBodySide{
	margin: auto;
	float: right;
	width: 195px;
	max-width: 200px;
	min-height: 990px;
	border: 5px solid #abc;
	background-color: #f1f1f1;
	text-align: center;
}

.SProjectMain{
	width: 785px;
	float: left;
	margin: left;
	text-align: center;
	background-color: #f1f1f1;
	border: 5px solid #abc
}
.SProjectContent{
	float: left;
	margin: left;
	text-align: center;
	width: 785px;
}
.SProjectMainContent{
	width: 80%;
	height: 45%;
	margin: center;
	float: center;
}

article{
	float: center;
	padding: 1%;
	background-color: #f1f1f1;
	height: 1500px;
	margin: center;
}

nav{
	float: right;
	height: 90%;
	background: #abc;
	padding: 20px;
}

nav ul{
	list-style-type: right;
	padding: 0;
}

section::after{
	content: "";
	display: table;
	clear: both;
}

.GridContainer{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #abc;
	padding: 10px;
}
.GridItem{
	background-color: #f1f1f1;
	width: 100%;
	border: 3px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
}
.GridInfo{
	background-color: #f1f100;
	border: 3px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
}
.ItemLeft{
	grid-area: left;
}
.ItemCenter{
	grid-area; center;
}
.ItemRight{
	grid-area: right;
}

iframe[seamless]{
	border: none;
	
	float: left;
	margin: left;
}

</style>



</body>
</html>

